
.navbar {
  background-color: #dddddd;
  height: 80px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  font-size: 2rem;
  text-align: left;
  color: rgb(112, 119, 118);
  margin-right: 1rem;
  padding-left: 20px;
}
.nav-items {
  display: flex;
  font-size: 25px;
  line-height: inherit;
  margin-right: 1rem;
  color: rgb(112, 119, 118);
}
.logout {
  font-size: 25px;
  background-color: #dddddd;
  border: none;
  color: rgb(112, 119, 118);
  margin-right: 2.6rem;
}
