/* .App {
  
  
} */
.navbar {
  background-color: red;
  height: 100px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  font-size: 2rem;
  text-align: left;
  color: blue;
  margin-right: 1rem;
  padding-left: 20px;
}
.nav-items {
  font-size: 1rem;
  display: flex;
  font-size: 25px;
  line-height: inherit;
  justify-content: space-around;
  margin-right: 1rem;
}
